#vw2_nim {
    color: burlywood;
    color: peru;
    color: sienna;
    color: darkred;
    color: red;
    color: antiquewhite;
    color: rgb(243, 205, 156);
    color: #669900;
    /*keyword style*/
    color: #33997e;
    color: #33997e;
    color: #669900;
    color: #d94a7a;
    color: #cc7832;
    color: #33997e;
    /*function style*/
    color: #006699;
    color: #006699;
    color: #669900;
    color: #006699;
    /*literal*/
    color: #6a8759;
    color: #718a62; color: #9876aa;
    /**/
    color: #122535;
    color: #587478;
    color: #bbd6d5;
    color: #999999;
    color: #aa3700;
    color: #587478;
    color: #595b5d;
    color: #3c3f41;
    color: #323232;
    color: #9876aa;
    color: #2b2b2b;
    color: #3c3f41;
    color: #214282;
    color: #132638;
    color: #122535;
    /*toolbar.button*/
    color: #00072B;
    color: #BAEDFF;
    color: #FFFFF2; color: #3c3f41;
    color: #009BEE; color: #5c6164;
    color: #009BEE; color: #499c54;
    color: #FFFFF2; /*none*/
    color: #FFFFF2;
    color: #FFFFF2; color: #4c5052;
    color: #003BB1; color: #499c54;
    color: #00193D;
    color: #FFFFF2;
        color: #5B6165;
    /**/
    color: #70a0c3;
    color: #95adb0;
    color: #777777;
}